# To create or update a token visit https://envio.dev/app/api-tokens
ENVIO_API_TOKEN="<YOUR-API-TOKEN>"
ENVIO_PG_PUBLIC_SCHEMA="beefy_lrt"

AURORA_RPC_URL=https://mainnet.aurora.dev
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
AVAX_RPC_URL=https://api.avax.network/ext/bc/C/rpc
BASE_RPC_URL=https://mainnet.base.org
BERACHAIN_RPC_URL=https://rpc.berachain.com
BSC_RPC_URL=https://56.rpc.thirdweb.com
CANTO_RPC_URL=https://canto-rpc.ansybl.io
CELO_RPC_URL=https://celo.drpc.org
CRONOS_RPC_URL=https://rpc.vvs.finance
EMERALD_RPC_URL=https://emerald.oasis.io
ETHEREUM_RPC_URL=https://eth.drpc.org
FANTOM_RPC_URL=https://250.rpc.thirdweb.com
FRAXTAL_RPC_URL=https://rpc.frax.com
FUSE_RPC_URL=https://fuse.drpc.org
GNOSIS_RPC_URL=https://rpc.gnosischain.com
HYPEREVM_RPC_URL=https://rpc.hyperliquid.xyz/evm
KAVA_RPC_URL=https://evm.kava.io
LINEA_RPC_URL=https://rpc.linea.build
LISK_RPC_URL=https://rpc.api.lisk.com
MANTA_RPC_URL=https://pacific-rpc.manta.network/http
MANTLE_RPC_URL=https://rpc.mantle.xyz
METIS_RPC_URL=https://metis.rpc.hypersync.xyz
MODE_RPC_URL=https://mainnet.mode.network
MOONBEAM_RPC_URL=https://moonbeam.public.blastapi.io
MOONRIVER_RPC_URL=https://moonriver.drpc.org
ONE_RPC_URL=https://api.harmony.one
OPTIMISM_RPC_URL=https://mainnet.optimism.io
PLASMA_RPC_URL=https://rpc.plasma.to
POLYGON_RPC_URL=https://polygon-rpc.com
REAL_RPC_URL=https://real.drpc.org
ROOTSTOCK_RPC_URL=https://public-node.rsk.co
SAGA_RPC_URL=https://sagaevm.jsonrpc.sagarpc.io
SCROLL_RPC_URL=https://rpc.scroll.io
SEI_RPC_URL=https://evm-rpc.sei-apis.com/
SONIC_RPC_URL=https://rpc.soniclabs.com
UNICHAIN_RPC_URL=https://mainnet.unichain.org/
ZKEVM_RPC_URL=https://zkevm-rpc.com
ZKSYNC_RPC_URL=https://mainnet.era.zksync.io